
# Herramientas de compilación
**/inform*

# Ejecutables Máquina-Z/Glulx
*.blb
*.gblorb
*.ulx
*.z5
*.z8
*.zblorb
*.zip

# Dependencias
**/interpreter
**/node_modules
**/.pnp
**/.pnp.js

# Recursos multimedia
**/*.mp3
**/*.mp4

# Otros
*.pdf
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
BaronEnglish/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

